.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0px;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.638); 
    /* background-image: url('../../img/bckg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 35%;
}
@media(max-width:768px){
    .modal-content{
        width:80%
    }
}
.modal__signup-form{
  
  padding: 5px 5px;
}

.modal__login-form{
  
  padding: 5px 5px;
}

/* The Close Button */
.close {
    text-align: center;

    -webkit-appearance: none;
    background-color: hsla(0,0%,7%,.2);
    border: 0;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    vertical-align: top;
    width: 24px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-head{
    position: relative;
    background: #4CAF50;
    color: white;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal-title{
    position: relative;
    display: inline-block;
    width: 80%;
}
.modal-form input[type="text" i],input[type="email" i],input[type="password" i] {
    padding: 1px 10px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid #d7d7d7;
    font-size: 16px;
    max-width: 100%;
   width: 70%;
    
    
}
input{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    background-color: rgb(250, 255, 189) !important;
    

}
input:-webkit-autofill{
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
.modal-footer{
    border-top: 1px solid #d5d5d5;
    background-color: #F9F9F9;
    text-align: center;
    color: #4CAF50;
    
}