.questions-card{
    display: flex;
    -webkit-box-pack: justify;
    width: 100%;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items:center;
    color: #818181;
    background-color: white!important;
    border-bottom: 1px solid #d5d5d5;
}
.question__avatar{
    display: block;
    width: 50px;
    margin-left:0.8em;
    margin-right: 2em;
}
@media(max-width:520px){
    .question__avatar{
        margin-left: 0.2em;
        margin-right: 0.8em;
    }
    .question__avatar-img{
    width: 35px!important;
    height:35px!important;
    }
    .question__avatar-img{
        font-size: 15px!important;
    }

}
.question__avatar-img{
    width: 50px;
    height:50px;
    border: 1px solid #d5d5d57c;
    border-radius: 50%;
    color:white;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.question__avatar-img{
    font-size: 25px;
}

@media screen and (min-width: 769px){
.question__content {
    width: 75%;
    margin-right: auto;
}
}
.question__content-title{
margin-top: 5px;
margin-bottom:5px;

}
.question__content-title a{
    font-weight: 500!important;
    word-spacing: 0.12em;
    letter-spacing: 0.1em;
}
.question__content-description{
    
    font-size: 13px;
    color: #d5d5d5;
    display: block;
}
.question__content-body{
    margin-top:10px;
    margin-bottom: 1em;
    font-size: 13px;
}
.question__content-edit{
    margin-top:10px;
    margin-bottom: 1em;
    font-size: 13px;
}
.question__response{
    margin-right:10px;
}
.question-box{
    border: 1px solid #f5f5f5;
}
.question-form{
    width:80%!important;
}
.question-box input[type="text" i]{
    padding-top: 10px;
    padding-bottom:10px;
    background-color: white!important;
}
.question-box h3{
    margin-bottom: 5px!important;
}
#questionBanner{

    display: none;
}
.question-head h1{
    margin-bottom: 5px;
}
.unanswered{
    background-color: #4cafaf82;
}
.answered{
    
    background-color:#4caf5082;
}