.profile__basic{
    width: 100%;
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    padding-bottom:10px;
    border-bottom: 1px solid #d5d5d5;
    color:#828994;
    margin-bottom: 0px;
}
.profile__basic-name{
    font-size: 30px;
    font-weight: 900;
    
}
.profile__basic-date{
    font-size: 12px;
    font-weight: 700
}
.profile__basic-question{
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}
.profile__basic-answer{
    cursor:pointer;
    margin-top: 5px;
    font-size: 18px;
}
.profile__actions{
    padding-left: 0px;
    text-decoration: none;
    list-style: none;
   

}
.profile__actions li{
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px dotted #d7d7d7;
    font-size: 18px;
    font-weight: 400;
    cursor:pointer;
    letter-spacing: -.6px;
    transition: padding-left .4s;
    
}
.profile__actions li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    
}
.profile__actions li:hover{
    background-color: #d7d7d7;
}
.profile__actions li a:active {
color:inherit;
}
.profile-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}
.sidebar{
    background-color: #e0e0e075;
    /* height: 90vh; */
    min-height: 80vh;
}
@media(max-width:768px){
    .sidebar{
        height: 100%!important;
        min-height: 0vh;
    }
    .profile__actions li {
        display: inline-block;
        text-align: left;
        padding: 10px 5px;
        border-bottom: 1px dotted #d7d7d7;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        letter-spacing: -.6px;
        transition: padding-left .4s;
    }
    .sidebar-fixed{
        position: relative!important;
        /* background-color: inherit; */
        width: inherit;
    }
}
.sidebar-fixed{
    position: fixed;
    /* background-color: inherit; */
    width: inherit;
}